.height100{
    height: 100%;
}

.newsStory{
    border-radius: 0;
    cursor: pointer;
	opacity: 0.8;
	border: 10px solid #eee;
	
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}

.newsStory:hover {
    opacity: 0.9;
   
   -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
  
   -webkit-box-shadow: 0px 0px 10px rgba(197, 196, 196, 0.8);
   -moz-box-shadow: 0px 0px 10px rgba(190, 185, 185, 0.8);
   box-shadow: 0px 0px 10px rgba(255,255,255,0.8);
}

.eventsHolder{
    height: 10%;
    padding: 0vw .6vw;
    margin-top: 1vw;
}