.homePageGreeting{
	font-size: 4vw;
}

.events{
	padding: 0;
}

.homeContent{
	overflow: hidden;
}

.homeLeft{
	padding-top: 0;
	padding-bottom: 0;
	padding-right: .7vw;
}

.homeDashButtons{
	display: flex;
	justify-content: space-around;
	height: 20%;
}

.homeDashContent{
	height: 60%;
}