HTML  CSS   Result
Edit on 
html, body, section {
  height: 100%;
}
.home{
  height: 100vh;
  background-color: black;

}

body {
  color: #fff;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
  text-shadow: 0 2px 2px #b6701e;  
}

div {
  display: flex;
  flex-direction: column;
  
  justify-content: center;
}

.subtitle {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 1.75rem;
  margin: 0 0 0.75rem 0;
}


.twoHalves {
  display: flex;
  background-color: white;
  
}

.left-half:before{
  
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url('/pictures/IMG_8125-1.jpg');
  background-size: cover;
  width: 50%;
  height: 100%;

  -webkit-filter: blur(3px) grayscale(40%);
  -moz-filter: blur(3px) grayscale(40%);
  -o-filter: blur(3px) grayscale(40%);
  -ms-filter: blur(3px) grayscale(40%);
  filter: blur(3px) grayscale(40%);
}

.left-half {
  flex: 1;
  height: 100%;
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
  
}

.right-half:before{
  
  content: "";
  position: fixed;
  left: 5;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url('/pictures/IMG_8440-7.jpg');
  background-size: cover;
  width: 50%;
  height: 100%;
  
  -webkit-filter: blur(3px) grayscale(40%);
  -moz-filter: blur(3px) grayscale(40%);
  -o-filter: blur(3px) grayscale(40%);
  -ms-filter: blur(3px) grayscale(40%);
  filter: blur(3px) grayscale(40%);
}

.right-half {
  flex: 1;
  height: 100%;
  left: 0;
  right: 0;
  z-index: 0;
  margin-left: 20px;
  margin-right: 20px;
  
}