.outline {
  background: url('/background/brushed_alu_dark_@2X.png');
  background-size: cover;
  padding: .8rem;
}

.boardBody {
  background: url('/background/white_plaster.png');
  color: black;
  font-family: 'Permanent Marker', cursive;
}

.ttdtHeader{
  border-bottom: .1em inset gray;
}

.whiteboardBody{
  font-size: 85%;
}

.itemTitle{
  color: rgb(54, 54, 54)
}

